body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  color: #ffffff;
}

#progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

#progress {
  width: 0;
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
}

#countdown {
  font-size: 48px;
  text-align: center;
}

#flashcard-container {
  position: relative;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#flashcard-level {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
}

#flashcard {
  font-size: 2em;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  transition: transform 0.3s, border-color 0.3s;
}
.flashcard.correct {
  border: 3px solid green;
}

.flashcard.incorrect {
  border: 3px solid red;
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.buttons,
.input-section {
  display: flex;
  justify-content: center;
  margin: 20px;
}
button,
input {
  padding: 10px 20px;
  font-size: 1em;
  margin: 0 10px;
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 12px;
}

.primary {
  background-color: #0eb42a;
  width: 100%;
}

.primary-outline {
  background-color: #00000000;
  border: 2px solid #007bff;
  width: 100%;
}

.secondary {
  background-color: #6c757d;
}

button:hover {
  background-color: #0056b3;
}

.secondary:hover {
  background-color: #aaa;
}

.primary:hover {
  background-color: #0c7f24;
}

input {
  border: 2px solid #444;
  width: 60%;
  background-color: #1f1f1f;
  color: #fff;
}
#start-rec-btn {
  background-color: #28a745;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#start-rec-btn:hover {
  background-color: #218838;
}

#start-rec-btn.recording,
#recording-mic1.recording,
#recording-mic2.recording {
  background-color: rgba(255, 0, 0, 0.514);
  transition: background-color 0.3s;
  fill: #ffffff;
}

#recording-mic-pad.recording {
  fill: rgba(255, 0, 0, 0.514);
  transition: background-color 0.3s;
}

#recognized-text {
  margin-top: 10px;
  font-size: 1.2em;
  color: #ccc;
  text-align: center;
}
#settings-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#stats {
  margin: 20px;
  text-align: center;
}
#timer {
  font-size: 1.2em;
}

.step {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 800px;
  height: auto;
  padding: 20px;
  opacity: 0;
  transform: translate(-50%, -50%) translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
}

.step.active {
  display: flex;
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0);
}

@media (max-width: 359px) {
  .step {
    width: 80%;
    padding: 20px;
    top: 50%;
  }
}

@media (min-width: 1024px) {
  .step {
    width: 70%;
  }
}

@media (min-width: 1440px) {
  .step {
    width: 60%;
  }
}

.csv-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.csv-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 10px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 7em;
  height: 7em;

  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

@media (min-width: 768px) {
  .csv-option {
    padding: 20px;
    width: 150px;
    height: 150px;
  }
}

.csv-option:hover {
  background-color: #333;
  transform: scale(1.05);
}

.csv-option span {
  font-size: 2.5em;
}

.csv-option p {
  margin: 10px 0 0;
  color: #fff;
  font-size: 1em;
}

.file-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.slider-container {
  position: relative;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}

#level-slider {
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
}

#level-labels {
  justify-content: space-between;
  position: relative;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  white-space: nowrap;
}

#level-labels span {
  margin: 0 10px;
}

.centered-input {
  width: 100px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.selected {
  font-weight: bold;
  color: #fff;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup-content label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.popup-content select {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.popup-content input[type='file'] {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.popup-content button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #45a049;
}
